@* Views/Shared/_Navbar.cshtml *@
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        @Html.ActionLink("Bookstore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left-aligned links -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Books", "Index", "Books", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
            </ul>

            <!-- Right-aligned links -->
            <ul class="navbar-nav ms-auto">
                @if (Session["UserId"] != null)
                {
                    <li class="nav-item">
                        <span class="navbar-text text-white me-2">Hello, @Session["UserName"]</span>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Logout", "Logout", "BuyerBorrower", null, new { @class = "nav-link" })
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        @Html.ActionLink("SignUp", "SignUp", "BuyerBorrower", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Login", "Login", "BuyerBorrower", null, new { @class = "nav-link" })
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>



