@model Bookstore_Group6.Models.BuyerBorrower

@{
    ViewBag.Title = "Sign Up";
}

<h2>Sign Up</h2>

@using (Html.BeginForm("SignUp", "BuyerBorrower", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address)
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ClientType)
        @Html.DropDownListFor(model => model.ClientType, new SelectList(new[] { "Buyer", "Borrower" }), "Select Client Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ClientType, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateOfBirth)
        @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber)
        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", type = "tel" })
        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="plainPassword">Password</label>
        <input type="password" name="plainPassword" id="plainPassword" class="form-control" required />
        @if (ViewBag.PasswordError != null)
        {
            <span class="text-danger">@ViewBag.PasswordError</span>
        }
    </div>

    @Html.HiddenFor(model => model.Role, new { Value = "User" })

    <button type="submit" class="btn btn-primary">Sign Up</button>
}

<hr />

<div class="text-center mt-3">
    <p>Are you a seller?</p>
    <a href="@Url.Action("SignUp", "Clients")" class="btn btn-warning">Register as Seller</a>
</div>
